/* Standard Styles */
* {
    box-sizing: border-box;
}
img {
    max-width: 100%;
}

/* Global Styles */
body {
    font-family: 'Charter';
    margin: 0;
    padding: 0;
}
h1 {
    font-family: 'Hobo Std';
    text-transform: uppercase;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 1.75px;
}
h2 {
    color: #1E4E38;
    text-transform: uppercase;
    font-size: 14.5px;
    font-weight: 800;
    padding: 0;
    margin-top: 15px;
}
h3 {
    font-family: 'Geneva';
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 1px;
    font-weight: 600;
    padding: 0;
    margin-top: 7px;
}
h4 {
    color: #1E4E38;
    text-transform: uppercase;
    text-align: left;
    font-size: 14.5px;
    font-weight: 800;
    margin: 0;
    padding-top: 7px;
}
h5 {
    color: #1E4E38;
    text-transform: uppercase;
    text-align: left;
    font-size: 13px;
    font-weight: 600;
    margin: 0;
    padding-top: 15px;
}

/* Header Styles */
.headerContainer {
    padding-top: 6px;
    margin-left: auto;
    margin-right: auto;
    width: 96%;
    background-color: #fff;
}
.logoContainer {
    padding: 13px 0;
    margin-left: auto;
    margin-right: auto;
    width: 32%;
    text-align: center;
}
.logo {
    width: 90%;
}

/* Main Section Styles */
.section1 {
    padding: 3px;
    background-color: #1E4E38;
    color: #fff;
    text-align: center;
}
.section1 img {
    width: 57%;
    margin-left: auto;
    margin-right: auto;
}
.section2 {
    padding: 3px;
    text-align: center;
}
.section2 ul {
    list-style: inside square;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}
.section2 ul li {
    font-size: 15px;
    letter-spacing: 0.25px;
    font-weight: 400;
    color: #575858;
    padding-bottom: 4px;
}
.section3 {
    padding-top: 3px;
    text-align: center;
}
.btn {
    text-transform: uppercase;
    background: transparent;
    color: #1E4E38;
    display: inline-block;
    font-size: 13px;
    font-weight: 400;
    border: 2px solid #1E4E38;
    cursor: pointer;
    box-shadow: 0 1px 3px #000;
    border-radius: 5fr;
}
.btn-container {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}
.filter-btn {
    background: transparent;
    border-color: #1E4E38;
    font-size: 9px;
    text-transform: uppercase;
    margin: 3px;
    border-radius: 5fr;
    padding: 6px 3px;
    color: #1E4E38;
    cursor: pointer;
}
.filter-btn:hover {
    background-color: #1E4E38;
    color: #fff;
}
.section-center {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1170px;
    display: grid;
    gap: 3px 2px;
    justify-items: center;
}
.menu-item {
    display: grid;
    gap: 1px 2px;
    width: 90%;
}
.item-info header {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px dotted grey;
}
.item-info h4 {
    margin-bottom: 5px;
}
.price {
    font-size: 13px;
    font-weight: 200;
}
.item-text {
    margin-bottom: 0;
    padding-top: 3px;
}

/* Footer Styles */
footer {
    margin-top: 15px;
    padding: 3px 0;
    background-color: #1E4E38;
    text-align: center;
}
footer h2 {
    color: #fff;
    text-decoration: 1.5px underline #8C8C8C;
}
.storeHours ul {
    list-style: none;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
.storeHours ul li {
    font-size: 15px;
    letter-spacing: .5px;
    font-weight: 600;
    color: #8C8C8C;
    padding-bottom: 4px;
}
.storeAddress p {
    font-size: 15px;
    letter-spacing: .5px;
    font-weight: 600;
    color: #8C8C8C;
    padding-bottom: 4px;
}
.copyrights {
    font-size: 12px;
    color: #8C8C8C;
}


@media screen and (min-width: 770px) {
    /* Global Styles */
    h1 {
        font-size: 27px;
        line-height: 33px;
    }
    h2 {
        font-size: 25.5px;
    }
    h3 {
        font-size: 26px;
        line-height: 31px;
    }
    h4 {
        font-size: 22.5px;
    }
    h5 {
        font-size: 21px;
    }

    /* Header Styles */
    .logoContainer {
        padding: 10px 0px 15px 0px;
    }
    .logo {
        width: 55%;
    }

    /* Main Section Styles */
    .section1 img {
        width: 35%;
        margin-bottom: 1%;
    }
    .section2 ul li {
        font-size: 21px;
        letter-spacing: 0.25px;
        padding-bottom: 4px;
    }
    /* Button Styles */
    .filter-btn {
        font-size: 19px;
        margin: 17px;
        padding: 6px 9px;
    }
    .item-info h4 {
        font-size: 22px;
    }
    .item-text {
        font-size: 19px;
    }

    /* Footer Styles */
    .footerContainer {
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }
    .storeHours {
        width: 50%;
    }
    .storeAddress {
        width: 50%;
    }
    .storeHours ul li {
        font-size: 18px;
    }
    .storeHours p {
        font-size: 18px;
    }
    .copyrights {
        text-align: center;
        font-size: 15px;
    }
}